
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex-grow: 1;
  padding: 0 1rem;
}

footer, header {
  align-self: center;
  padding-bottom: 1rem;
}

header{
  font-size: larger;
  border-bottom: solid black;
  width: 100%;
  display: flex;
  justify-content: center;
}
