<table>
  <caption>
    <h2>Current Tasks</h2>
  </caption>
  <thead>
    <tr>
      <th>Index</th>
      <th>Task Name</th>
      <th>Completed</th>
    </tr>
  </thead>
  <tbody>
    @for(item of this.tasks?.tasks; track $index) {
      <tr class="task-row" [routerLink]="['tasks', item.id]">
        <td>
          {{$index}}
        </td>
        <td>
          {{item.name}}
        </td>
        <td>
          {{item.complete}}
        </td>
      </tr>
    } @empty {
      <tr>
        <th colspan="3">No tasks in this list.</th>
      </tr>
    }
  </tbody>
</table>

<hr />

<div class="input">
  <div class="input-header">Add new task list:</div>
  <div class="input-body">
    <form (ngSubmit)="submitForm()">
      <div>
        <label for="name">Name:</label>
        <input
          id="name"
          type="text"
          [(ngModel)]="formData.name"
          name="name"
          #name="ngModel"
          required
        />
        @if(name.invalid && (name.dirty || name.touched)) {
        <div class="alert">
          @if (name.hasError('required')) {
          <div>Name is required.</div>
          }
        </div>
        }
      </div>
      <div>
        <label for="description">Description:</label>
      </div>
      <div>
        <textarea
          id="description"
          placeholder="Add details here . . ."
          [(ngModel)]="formData.description"
          name="description"
        ></textarea>
      </div>
      <div>
        <button class="button submit-button" type="submit" [disabled]="!formData.name">Add Task</button>
      </div>
    </form>
  </div>
</div>
