<p>
    testing if we are working
</p>
<p>
    {{taskList?.name}}
</p>

<h2>Add new task list:</h2>
<form (ngSubmit)="submitForm()">
    <label for="name">Name:</label>
    <input id="name" type="text" [(ngModel)]="formData.name" name="name" required>
    <label for="complete">Completed:</label>
    <input id="complete" type="checkbox" [(ngModel)]="formData.complete" name="complete">
    <br/>
    <button type="submit">Add Task</button>
</form>

<ol>
    @for(item of this.taskList?.tasks; track $index) {
        <li>
            {{item.name}} | {{item.complete}}
        </li>
    } @empty {
        <li>No tasks in this list.</li>
    }
</ol>
