<div class="container">
  <h2>Categories</h2>
  <div class="task-list">
    @for (item of this.taskList ; track item.id) {
    <div class="task-row">
      <div class="task-element" [routerLink]="['lists', item.id]">
        <div>{{item.name}}</div>
      </div>
      <div class="delete-button">
        <input
          (click)="deleteList(item.id)"
          value="Delete"
          type="button"
          class="delete-button button"
        />
      </div>
    </div>
    } @empty {
    <div class="task-row">No items found.</div>
    }
  </div>
</div>
<hr />
<div class="input">
  <div class="input-header">Add new task list:</div>
  <div class="input-body">
    <form (ngSubmit)="submitForm()">
      <label for="name">Name:</label>
      <input
        id="name"
        type="text"
        [(ngModel)]="formData.name"
        name="name"
        #name="ngModel"
        required
      />
      @if(name.invalid && (name.dirty || name.touched)) {
      <div class="alert">
        @if (name.hasError('required')) {
        <div>Name is required.</div>
        }
      </div>
      }
      <br />
      <button
        class="button submit-button"
        type="submit"
        [disabled]="!formData.name"
      >
        Add Task List
      </button>
    </form>
  </div>
</div>
