/* You can add global styles to this file, and also import other style files */

//Generated via chatgpt, ideally we just use material typography but for sake of time we will use chatgpt
@import 'styles/typography/typography';

html,body, .main{
  height:100vh;
  margin: 0;
}

.delete-button{
  display: inline-block;
  background-color: $color-danger; /* Red color */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  user-select: none;
  &:hover {
    filter:brightness(85%);
  }
  &:active {
    filter:brightness(85%);
  }
}

.alert {
  color:$color-danger;
}
